[cltl.face-recognition.events]
local: True
image_topic: image_in
face_topic: face_recognition

[cltl.vector-id.agg]
distance_threshold: 0.66

[cltl.vector-id.events]
local: True
face_topic: face_recognition
id_topic: face_id


[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2